REDDIT_RSS_URL=https://www.reddit.com/r/LocalLLaMA/new.rss?limit=100

GCP_PROJECT_ID=
GCP_SERVICE_ACCOUNT=
GCP_WORKLOAD_IDENTITY_PROVIDER=

GCS_BUCKET_NAME=

GAR_REPO_NAME=
GAR_REPO_LOCATION=

BQ_DATASET_NAME=
BQ_DATASET_LOCATION=

REDIS_URL=
REDIS_TOKEN=

HUGGINGFACE_API_KEY=
SENTIMENT_MODEL_ID=yangheng/deberta-v3-base-absa-v1.1
INFERENCE_BACKEND=huggingface
