.pytest_cache/
.ruff_cache/
.rendered/

node_modules/
raw_data/
dist/
temp/

__pycache__/

*.log
*.bat
.env
.coverage

dbt/target/
dbt/logs/
dbt/.user.yml

api/model_artifacts/**
!api/model_artifacts/.gitkeep

tsconfig.tsbuildinfo
